body {
    /* ******************************************** */
    margin: 0;
    
    /* ******************************************** */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    /* ******************************************** */


    transition:  0.3s ease;
}

nav {


    background-color: darkgreen;


    color: #fff;



    display: flex;







    justify-content: space-between;



    align-items: center;


    padding: 10px;
}

nav h1 {



    
    
    
    margin: 0;
    
    
    
    font-size: 34px;
}












nav ul {




    list-style: none;





    margin: 0;





    padding: 0;





}











nav ul li {











    display: inline;










    margin-left: 100px;













}

















nav ul li a {












    color: #fff;














    text-decoration: none;












    font-size: 18px;













}





















main {












    padding: 10px;














}
























main h1 {
















    font-size: 50px;

















}


























/* ******************************************************** */














#harsh2 {





































    
    
    
    
    
    
    display: flex;





















    flex-direction: column;
    





}









/* ******************************************************** */


















.harsh3 {
    /* ******************************************************** */


















    border: 3px solid black;















    /* ******************************************************** */
















    background-color: rgb(100, 204, 200);














    /* ******************************************************** */














    color: black;















    padding: 15px;
















    margin: 15px ;













    height:18vh;


















    /* ******************************************************** */















    width: 90vh;


















    /* ******************************************************** */













    position: relative;

















    left: 60vh;


















    /* ******************************************************** */

















    border-radius: 45px;















    /* ******************************************************** */


















}



























.view-full{









    /* ******************************************************** */








    position: relative;




















    
    
    
    
    
    
    
    /* ******************************************************** */
    
    
    
    
    
    
    
    
    
    left: 60vh;








    
    
    
    
    
    
    /* ******************************************************** */
    
    
    
    
    
    
    
    
    
    
    
    bottom: 10vh;


















    /* ******************************************************** */
    
    
    
    
    
    
    
    
    
    
    
    font-size: 20px;












}


#harsh50 {
    /* ******************************************************** */
    
    
    
    
    
    
    
    
    
    
    
    
    max-width: 450px;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* ******************************************************** */










    
    
    
    
    
    
    
    
    
    
    
    
    margin: 30px auto;
    












}
























form {
    





    /* * ******************************************************** */ 











    display: flex;












    /* * ******************************************************** */












    flex-direction: column;











    /* * ******************************************************** */

    









    

}

label {
    
    
    
    
    
    
    
    
    
    
    /* * ******************************************************** */
    














    
    
    
    
    
    
    
    
    
    
    font-weight: 700;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* * ******************************************************** */
    
    
    
    
    
    
    
    
    
    margin-bottom: 12px;
    
    
    
    
    
    
    
    /* * ******************************************************** */
}












input,
textarea {













    border: 10px solid black;

















    padding: 10px;










    margin-bottom: 15px;

















    border: 3px solid black;










    resize: vertical; 








}














button {













    padding: 8px 15px;











    background-color:green;














    font-weight: 700;












    letter-spacing: 1px;











    color: white;









    border: 1px solid black;











    cursor: pointer;











}



















/* * ******************************************************** */







.hide-background {











    background-color: transparent;














}












/* * ******************************************************** */



/* * ******************************************************** */
.quote-text {













    font-size: 30px;








}






/* * ******************************************************** */
  .quote-author {
    font-size: 20px;















}








/* * ******************************************************** */


.quote-form-hidden {
    /* * ******************************************************** */














    display: none;











    /* * ******************************************************** */
  }
 










  
